[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
fake-useragent = "*"
selenium = "*"
beautifulsoup4 = "*"
docker = "*"
lxml = "*"
apache-airflow = {extras = ["celery"], version = "*"}
apache-airflow-providers-apache-spark = "*"
apache-airflow-providers-mongo = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
